*,
*::after *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  font-family: "Roboto", sans-serif;
}
.header__top {
  background-color: #303030;
}
.header__btn {
  float: right;
  line-height: 36px;
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  display: block;
  position: relative;
}
.header__btn:before {
  content: "\f2bd";
  font-family: "icomoon";
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}
.header__contacts:after {
  content: "";
  clear: both;
  display: block;
}
.header__phone,
.header__email {
  color: #cbcbcb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone:before {
  content: "\f095";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email {
  padding-left: 24px;
}
.header__email:before {
  content: "\f003";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__content {
  padding: 34px 0px 23px;
}

.menu {
  margin-right: 70px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all.3s;
}

.menu__link:hover {
  background-color: #131313;
  color: #cbcbcb;
}

.kurs {
  padding: 100px 0 0px;
}

.kurs__inner {
  display: flex;
  justify-content: space-between;
}

.kurs__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.kurs__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.kurs__subtitle {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}

.kurs__text {
  max-width: 420px;
  margin-bottom: 20px;
}

.kurs__link {
  margin-top: 80px;
  display: inline-block;
  background-color: #131313;
  color: #fff;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  transition: all 0.3s;
}

.kurs__link:hover {
  background-color: #ff4040;
}

.kurs-slider .slick-dots {
  right: 0;
  top: 50px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all.3s;
}

.slick-dots button:hover,
.slick-active button {
  background-color: #ff4040;
}

.kurs__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.kurs__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.kurs__list-num {
  font-size: 700;
  text-transform: uppercase;
}

.kurs__link-texp span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}

.info {
  padding-top: 150px;
  margin-bottom: 50px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.info__item-text {
  max-width: 450px;
}

.characteristics {
  padding-top: 100px;
  margin-bottom: 150px;
}

.characteristics__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.characteristics__inner {
  display: flex;
}

.characteristics__img {
  margin-left: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.characteristics__item {
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics__list + .charecteristics__list {
  padding-top: 30px;
}

.characteristics__title {
  padding: 2px 0 3px;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  font-weight: 700;
}

.characteristics__line {
  display: flex;
  padding-top: 5px;
}

.characteristics__name {
  flex-basis: 285px;
  padding-right: 25x;
}

.characteristics__descr {
  flex-basis: 285px;
}

.slider {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

.slider__items .slick-dots {
  top: 0;
  left: 0%;
}

.slider__items {
  margin-left: 350px;
}

.slider__item {
  padding-left: 50px;
}

.price {
  margin-bottom: 100px;
}

.price__inner {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__text {
  max-width: 300px;
  margin-bottom: 30px;
}

.form__input-name,
.form__input-phone {
  width: 100px;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__input-name::placeholder
  .form__input-phone::placeholder
  .form__input-text {
  color: #6f6f6f;
  opacity: 0, 5;
}

.form__input-text {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: obsolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__levl {
  display: block;
}

.form__levl-img {
  margin-left: 50px;
}

.form__levl-price {
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
}

.form__levl-price:after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 20px;
}

.form__levl {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.form__radio-style {
  background: #6f6f6f;
  border-radius: 30px;
  width: 80px;
  height: 12px;
}

.form__radio-style--red {
  background: #ff4040;
}

.form__radio-style--green {
  background: #008000;
  border: 1px solid #6f6f6f;
}

.form__radio-style--purple {
  background: #800080;
}

.form__btn {
  background-color: #131313;
  padding: 28px 71px 28px 81px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1, 1em;
  cursor: pointer;
  transition: all.3s;
}

.form__btn:hover {
  background-color: #ff4040;
}

.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
  line-height: 15px;
}

.footer__social-link + .footer__social-link {
  margin-left: 26px;
}

.footer__contacts {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer_contacts-link + .footer__contacts-link {
  margin-top: 10px;
}

.footer_contacts-img {
  margin-right: 10px;
}

@media (max-width: 1140) {
  .form__levl-img {
    width: 500px;
  }
  .form__levl {
    top: 45px;
  }
}

@media (max-width: 1110px) {
  .price {
    margin-bottom: 50px;
  }
  .kurs__inner {
    flex-wrap: wrap;
  }
  .kurs__text {
    max-width: 100%;
  }
  .kurs {
    padding: 0;
  }
  .characteristics {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .slider__img {
    object-fit: cover;
    height: 400px;
  }
  .kurs__link {
    margin-top: 30px;
  }
  .kurs__column {
    margin-bottom: 30px;
  }
  .kurs__column-slider {
    max-width: 100%;
    margin-left: 0px;
  }
  .info__img {
    display: none;
  }
  .info__list {
    flex-basis: 100%;
  }
  .info__item-text {
    max-width: 100%;
  }
  .info {
    padding-top: 50px;
  }
}

@media (max-width: 991px) {
  .menu {
    margin-right: 0;
  }
  .characteristics__inner {
    flex-wrap: wrap;
  }
  .characteristics__img {
    order: -1;
    width: 100%;
    margin-bottom: 30px;
  }
  .characteristics__items {
    flex-basis: 100%;
    margin-right: 0px;
  }
  .characteristics__name {
    flex-basis: 50%;
  }
  .characteristics__descr {
    flex-basis: 50px;
  }
  .form__label-box {
    margin-bottom: 300px;
  }

  .form__levl {
    top: auto;
    bottom: 85pxg;
    left: 0;
    right: auto;
  }
  .form__levl-img {
    width: 430px;
  }
  .form__levl-price {
    right: -20%;
    transform: translate(100%);
    left: auto;
    top: 0;
  }
}

@media (max-width: 780px) {
  .form__levl-price {
    right: 0px;
    top: -55px;
    transform: translateX(50%);
  }
}

@media (max-width: 670px) {
  .kurs__title {
    font-size: 44px;
    line-height: 57px;
    margin: 30px 0 5px;
  }
  .kurs__subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 29px;
  }
  .kurs__list {
    flex-wrap: wrap;
  }
  .kurs__list-item {
    width: 50%;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }
  .menu {
    margin-top: 50px;
  }
  .menu__list {
    justify-content: space-evenly;
  }
  .menu__item + .menu__item {
    padding-left: 0;
  }
  .menu__link {
    padding: 25px 20px;
  }
  .info__item + .info__item {
    padding-top: 25px;
  }
  .slider__img {
    object-fit: cover;
    height: 250px;
  }
  .slider__item {
    padding-left: 10px;
  }
}

@media (max-width: 580px) {
  .form__levl-price {
    right: auto;
    top: 50px;
    transform: translateX(0%);
    left: 0;
    display: inline-block;
    font-size: 18px;
    border: none;
    width: 100px;
    border-radius: 0;
    height: auto;
  }

  .form__levl-price span {
    background-color: #131313;
    color: #fff;
    display: inline-block;
    padding: 3px;
  }

  .form__levl-price::after {
    display: none;
  }
  .footer__inner {
    display: block;
    height: auto;
    padding: 15px 0;
    text-align: center;
  }
  .footer__social {
    padding: 15px 0;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .menu__list {
    justify-content: space-between;
  }
  .menu__link {
    padding: 25px 0px;
  }
  .kurs__link,
  .form__btn {
    padding: 15px;
    letter-spacing: 0.9em;
  }
  .slider {
    display: none;
  }
  .form__levl {
    bottom: 50px;
  }
  .form__levl-img {
    width: 270px;
  }
  .form__label-box {
    margin-bottom: 200px;
  }
  .price__inner {
    text-align: center;
  }

  .form__text {
    max-width: 100%;
  }

  .form__label-box {
    justify-content: center;
  }
  .form__levl {
    right: 0;
  }
}

@media (max-width: 350px) {
  .menu {
    margin-top: 30px;
  }
}
.menu__link {
  font-size: 12px;
}
